@import 'react-alice-carousel/lib/alice-carousel.css';
@font-face {
  font-family: 'Big Shoulders Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bigshoulderstext/v4/55xxezRtP9G3CGPIf49hxc8P0eytUxBsnA.ttf) format('truetype');
}
@font-face {
  font-family: 'Pompiere';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pompiere/v10/VEMyRoxis5Dwuyeov6Wt.ttf) format('truetype');
}
@font-face {
  font-family: 'Gruppo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/gruppo/v11/WwkfxPmzE06v_ZWFWQ.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0px solid orange;
  font-size: 100%;
  font-family: 'Comfortaa', cursive, serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: black;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: overlay;
}
body p,
body li {
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  font-family: 'Basicaline', 'Big Shoulders Text', 'Arial';
  color: #d6e7eb;
}
@media only screen and (max-width: 500px) {
  body p,
  body li {
    font-size: 1rem;
  }
}
body h1,
body h2 {
  font-family: 'Basicaline', 'Big Shoulders Text', 'Arial';
  color: white;
  font-size: 2rem;
  font-weight: 700;
}
@media only screen and (max-width: 500px) {
  body h1,
  body h2 {
    font-size: 1.5rem;
  }
}
body a {
  font-family: 'Another Flight', 'Pompiere', 'Arial';
  color: #d6e7eb;
  font-weight: 700;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: black;
  border-radius: 5px;
}
body::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.664);
}
.nav-div {
  margin: 0 8%;
  margin-bottom: 4%;
  height: 12vh;
}
.nav-div header {
  margin: 2% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}
@media only screen and (max-width: 800px) {
  .nav-div header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
}
.nav-div header .name-title-wrapper {
  width: 30%;
  margin-right: 12%;
}
@media only screen and (max-width: 800px) {
  .nav-div header .name-title-wrapper {
    width: 75%;
    max-width: 275px;
    margin: 0 auto;
  }
}
.nav-div header .name-title-wrapper img {
  object-fit: scale-down;
  width: 100%;
  height: auto;
  min-width: 200px;
  margin: 0 auto;
}
.nav-div header nav {
  width: 65%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  bottom: 11px;
}
@media only screen and (max-width: 800px) {
  .nav-div header nav {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 3%;
  }
}
.nav-div header nav a {
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  text-decoration: none;
}
@media only screen and (max-width: 800px) {
  .nav-div header nav a {
    font-size: 1.5rem;
  }
}
.player-wrapper-home {
  height: auto;
  width: 100%;
  position: relative;
}
.player-wrapper-home .overlay-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 10%;
  left: 50px;
  width: 100%;
  height: auto;
  z-index: 1;
}
.player-wrapper-home .overlay-box h2 {
  font-size: 5vw;
  margin: 3% 5%;
}
.player-wrapper-home .overlay-box .reel-button {
  margin: 0 5%;
  width: 10vw;
  min-width: 60px;
  height: 3.5vw;
  background-color: white;
  border: none;
  font-family: 'Basicaline', 'Big Shoulders Text', 'Arial';
  font-weight: 600;
  font-size: 1.7vw;
}
.player-wrapper-home video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
.home-container {
  display: flex;
  flex-direction: column;
  margin: 0 8%;
}
.home-container .me {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  color: #d6e7eb;
  padding-bottom: 5%;
  border-bottom: 3px solid white;
}
@media only screen and (max-width: 900px) {
  .home-container .me {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
.home-container .me .portrait-margin {
  margin-top: 75px;
}
@media only screen and (max-width: 900px) {
  .home-container .me .portrait-margin {
    margin-top: 20px;
  }
}
.home-container .me .portrait-margin .self-portrait {
  width: 325px;
  height: auto;
}
@media only screen and (max-width: 900px) {
  .home-container .me .portrait-margin .self-portrait {
    width: 150px;
    margin: 2% auto;
  }
}
.home-container .me .portrait-margin .self-portrait img {
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}
.home-container .me .bio {
  display: flex;
  flex-direction: direction;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: align;
  margin: 75px 0 0 2%;
  width: 65%;
}
@media only screen and (max-width: 900px) {
  .home-container .me .bio {
    width: 100%;
    margin: 30px 0 0 2%;
  }
}
.home-container .me .bio h2 {
  margin: 5% auto;
}
.home-container .me .bio p {
  align-self: flex-start;
  line-height: 1.7rem;
  margin-bottom: 5%;
}
.home-container .gear {
  margin: 4% auto;
  width: 75%;
}
@media only screen and (max-width: 1000px) {
  .home-container .gear {
    width: 100%;
  }
}
.home-container .gear h2 {
  text-align: center;
  margin-bottom: 2%;
}
@media only screen and (max-width: 1000px) {
  .home-container .gear h2 {
    text-align: left;
  }
}
.home-container .gear ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 175px;
}
@media only screen and (max-width: 1000px) {
  .home-container .gear ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
  }
}
.home-container .gear ul li {
  margin: 1% 0;
  font-size: 110%;
}
.player-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.player-wrapper .react-player {
  min-width: 375px;
  margin: 1% 1%;
}
@media only screen and (max-width: 400px) {
  .player-wrapper .react-player {
    min-width: 300px;
    margin: 2% 1%;
  }
}
.bts-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 65vh;
  margin: 6% 0;
}
@media only screen and (max-width: 1000px) {
  .bts-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
.bts-container .bts-content-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .bts-container .bts-content-container {
    width: 90%;
    max-height: 50%;
  }
}
.bts-container .bts-content-container h2 {
  margin: 1% 0 3% 0;
}
@media only screen and (max-width: 1000px) {
  .bts-container .bts-content-container h2 {
    margin-top: 35px;
  }
}
.bts-container .bts-content-container .bts-pics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: align;
  margin-bottom: 5%;
  width: 80%;
  max-height: 50%;
}
@media only screen and (max-width: 1000px) {
  .bts-container .bts-content-container .bts-pics {
    width: 100%;
  }
}
.bts-container .bts-content-container .bts-pics img {
  width: 200px;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  margin: 0 0.5% 2%;
}
.bts-container .bts-content-container .bts-vids {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.bts-container .bts-content-container .bts-vids .react-player-div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 2% 3% 4%;
  width: 90%;
  height: auto;
}
.contact-container {
  min-height: 64vh;
}
.contact-container form {
  padding: 2em;
  margin: 1% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 390px;
}
.contact-container form input {
  width: 50%;
  margin: 1% 0;
  min-height: 3em;
}
@media only screen and (max-width: 1200px) {
  .contact-container form input {
    width: 80%;
  }
}
.contact-container form textarea {
  width: 50%;
  margin: 2% 0;
  min-height: 8em;
}
@media only screen and (max-width: 1200px) {
  .contact-container form textarea {
    width: 80%;
  }
}
.contact-container form button {
  background-color: white;
  width: 20%;
  min-height: 3em;
  margin: 1% 0;
}
.footer-container {
  border-top: 1px solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: static;
  width: 100%;
  height: 12vh;
  bottom: 0;
}
.footer-container .footer-sections {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5%;
}
.footer-container .footer-sections p {
  font-size: 1rem;
  margin-bottom: 0.5%;
}
.footer-container .footer-sections .social-icons {
  width: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.modal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  z-index: 200;
  background-color: #000000;
  width: 98vw;
  height: 98vh;
  box-shadow: 1px 1px 1px black;
  left: 1%;
  top: 1%;
  bottom: auto;
  right: auto;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 1000px) {
  .modal {
    max-width: 99vw;
    max-height: 95vh;
    left: 0;
    top: 2%;
  }
}
.modal p {
  align-self: flex-end;
}
.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
