@font-face {
  font-family: 'Big Shoulders Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bigshoulderstext/v4/55xxezRtP9G3CGPIf49hxc8P0eytUxBsnA.ttf) format('truetype');
}
@font-face {
  font-family: 'Pompiere';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pompiere/v10/VEMyRoxis5Dwuyeov6Wt.ttf) format('truetype');
}
@font-face {
  font-family: 'Gruppo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/gruppo/v11/WwkfxPmzE06v_ZWFWQ.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0px solid orange;
  font-size: 100%;
  font-family: 'Comfortaa', cursive, serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: black;
  margin: 0 0;
  overflow-x: hidden;
  overflow-y: overlay;
}
body p,
body li {
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  font-family: 'Basicaline', 'Big Shoulders Text', 'Arial';
  color: #d6e7eb;
}
body h1,
body h2 {
  font-family: 'Basicaline', 'Big Shoulders Text', 'Arial';
  color: white;
  font-size: 2rem;
  font-weight: 700;
}
body a {
  font-family: 'Another Flight', 'Pompiere', 'Arial';
  color: #d6e7eb;
  font-weight: 700;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 5px;
}
body::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#4D9C41), to(#19911D), color-stop(0.6, #86e08c));
}
.nav-div {
  margin: 0 8%;
  margin-bottom: 4%;
}
.nav-div header {
  margin: 2% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.nav-div header .name-title-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-right: 5%;
}
.nav-div header .name-title-wrapper img {
  object-fit: scale-down;
  width: 100%;
  height: auto;
}
.nav-div header nav {
  margin-left: 3%;
  width: 65%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.nav-div header nav a {
  letter-spacing: 0.1rem;
  font-size: 2rem;
  text-decoration: none;
}
@media only screen and (max-width: 800px) {
  .nav-div header nav a {
    font-size: 1.5rem;
  }
}
.player-wrapper-home {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */;
}
.react-player-home {
  position: absolute;
  top: 0;
  left: 0;
}
.home-container {
  display: flex;
  flex-direction: column;
  margin: 0 8%;
}
.home-container .me {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  color: #d6e7eb;
  padding-bottom: 5%;
  border-bottom: 3px solid white;
}
.home-container .me .portrait-margin {
  margin-top: 10%;
}
@media only screen and (max-width: 800px) {
  .home-container .me .portrait-margin {
    display: none;
  }
}
.home-container .me .portrait-margin .self-portrait {
  width: 325px;
  height: auto;
}
.home-container .me .portrait-margin .self-portrait img {
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}
.home-container .me .bio {
  display: flex;
  flex-direction: direction;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: align;
  margin: 7% 0 0 2% ;
  width: 65%;
}
@media only screen and (max-width: 800px) {
  .home-container .me .bio {
    width: 100%;
  }
}
.home-container .me .bio h2 {
  margin: 5% auto;
}
.home-container .me .bio p {
  align-self: flex-start;
  line-height: 1.7rem;
  margin-bottom: 5%;
}
.home-container .gear {
  margin: 5% auto;
  width: 100%;
}
.home-container .gear li {
  margin: 2% 0;
}
.player-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.player-wrapper .react-player {
  margin: 1% 1%;
}
.bts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 6%;
}
.bts-container .bts-content-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.bts-container .bts-content-container h2 {
  margin-bottom: 4%;
}
.bts-container .bts-pics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: align;
  width: 100%;
}
.bts-container .bts-pics img {
  width: 150px;
  height: auto;
  object-fit: cover;
  margin: 0 2% 2%;
}
.bts-container .bts-vids {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: align;
}
.bts-container .bts-vids .bts-vid {
  margin: 0 2% 2% 2%;
}
