.footer-container{
    border-top: 1px solid @border-color;
    .flex(row, nowrap, space-evenly, center);
    
    .footer-sections{
        .flex(column, nowrap, center, center);
        width: 45%;
        margin: 1.5%;
        
        .social-icons{
            width: 25%;
            .flex(row, nowrap, space-around, center);
        }
    }
}