.me{
    .flex(row, nowrap, space-around, align);
    color: @font-color;
    font-size: 1.3rem;

    h2{
        font-size: 2rem;
        font-weight: 600;
        margin: 30px 0;
    }

    .bio{
        .flex(direction, wrap, space-around, align);
        margin: 5% 0;
        width: 55%;

        p{
            margin: 1%;
        }
    }

    .vertical-line{
        border: 5px solid green;
        width: 1px;
    }

    .gear{
        margin: 5% 0;
        width: 30%;

        li{
            margin: 2% 0;
        }
    }
}