.nav-div{
    margin: 0 8%;
    margin-bottom: 4%;
    
    header {
        margin: 2% 0;
        .flex(@justify: space-between, @align: center);

        @media only screen and (max-width: 500px){
            .flex(column, nowrap, space-around, center)
        }
        
        .name-title-wrapper{
            .flex(column, nowrap, center, center);
            width: 30%;
            margin-right: 12%;

            @media only screen and (max-width: 500px){
                width: 50%;
                margin: 0 auto;
            }

            img{
                object-fit: scale-down;
                width: 100%;
                height:auto;
            }
        }
        nav{
            width: 65%;
            .flex(@justify: space-between);

            @media only screen and (max-width: 500px){
                width: 100%;
                margin-top: 3%;
            }
            
            a{
                letter-spacing: .1rem;
                font-size: 2rem;
                text-decoration: none;

                @media only screen and (max-width: 800px) {
                    font-size: 1.5rem;
                }
            }
        }
    }
}