.nav-div{
    
    header {
        margin: 1% 0;
        .flex(@justify: space-between, @align: baseline);
        
        h1{
            font-size: 3.5rem;
            text-align: center;
            color: @header-color;
        }
        nav{
            width: 70%;
            .flex(@justify: space-around);
            
            a{
                font-size: 2rem;
                text-decoration: none;
                color: @link-color;
            }
        }
    }
}