header {
    h1{
        font-size: 5rem;
        text-align: center;
        color: @header-color;
    }
    nav{
        .flex(@justify: space-around);
        
        a{
            font-size: 2rem;
            text-decoration: none;
            color: @link-color;
        }
    }
}