// Media Queries
@xsmall: ~'(max-width:320px)';
@small: ~'(max-width:576px)';
@medium: ~'(max-width: 768px)';
@large: ~'(max-width: 992px)';
@xlarge: ~'(max-width: 1200px)';

// Color Scheme
@background-color: black;
@header-color: white;
@border-color: white;
@link-color: rgb(214, 231, 235);
@font-color: rgb(214, 231, 235);

// Fonts
@header-font: 'Basicaline', 'Big Shoulders Text', 'Arial';
@text-font: 'Another Flight', 'Pompiere', 'Arial';
