.modal {
    .flex(column, nowrap, center, flex-start);
    position: fixed;
    z-index: 200;
    background-color: rgb(0, 0, 0);
    width: 98vw;
    height: 98vh;
    box-shadow: 1px 1px 1px black;
    left: 1%;
    top: 1%;
    bottom: auto;
    right: auto;
    box-sizing: border-box;
    transition: all 0.3s ease-out;

    @media only screen and (max-width: 1000px) {
        max-width: 99vw;
        max-height: 94vh;
        left: 0;
        top: 2%;
    }

    p {
        align-self: flex-end;
    }
}
