.modal{
    .flex(column, nowrap, center, flex-start);
    position: fixed;
    z-index:  200;
    background-color: rgb(0, 0, 0);
    width: 95vw;
    height: 95vh;
    box-shadow: 1px 1px 1px black;
    left: 2%;
    top: 2%;
    bottom:2%;
    right:2%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}