.modal{
    position: fixed;
    z-index:  2;
    background-color: rgba(0, 0, 0, 0.315);
    width: 95%;
    box-shadow: 1px 1px 1px black;
    left: 2%;
    top: 2%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}